/* ====== custom scroll bar ====== */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ============================== */

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: 'Telegrafico' !important;
}

p,
ul li,
form,
input {
    font-family: 'Thasadith' !important;
    font-weight: bold !important;
}

body {
    /* position: relative ;
    border-radius: 30px ;  */
    background: rgba(244, 158, 74, 0.25);
}

.w-50 {
    width: 50% !important;
}

.w-10 {
    width: 10% !important;
}

.left-50 {
    left: 50%!important;
}

.left-40 {
    left: 40%!important;
}

.left-45 {
    left: 45%!important;
}

.top-30 {
    top: 30%!important;
}

.top-40 {
    top: 40%!important;
}

.fs-30px {
    font-size: 30px !important;
}

.fs-40px {
    font-size: 40px !important;
}

.border-radius-25px {
    border-radius: 25px !important;
}

.left-border-radius-25px {
    border-radius: 25px 0px 0px 25px !important;
}

.right-border-radius-25px {
    border-radius: 0px 25px 25px 0px !important;
}

.z-index-infront-all {
    z-index: 10000 !important;
}

.bg-darksolomon {
    background-color: darksalmon;
}

button.btn {
    padding: 15px 35px;
}

button {
    transition: 200ms !important;
    box-shadow: none !important;
}

#toastContainer .toast-header {
    gap: 10px;
}

#toastContainer button {
    display: none;
}

#toastContainer .toast-header small.timer {
    margin-left: 85px;
}

.pe-block {
    cursor: not-allowed;
}

.category-food-btn button {
    color: red;
}

.category-food-btn button:hover {
    background-color: yellow;
    color: #000000;
}

.explore-food hr {
    height: 2px;
    background-color: #b44a0e;
    opacity: 1;
}


/* nav bar */

nav :hover {
    color: orange !important;
}

nav .title {
    font-family: Thasadith;
    color: #BD5F0480 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}

nav .home {
    font-family: 'Telegrafico';
    color: #000000;
    font-size: 30px;
}

.SignUp-BT {
    border: 3px solid #C46744 !important;
    border-radius: 25px !important;
    background: linear-gradient(0deg, #C46744, #C46744), linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0))!important;
    font-size: 23px !important;
}

.Login-BT {
    border: 3px solid #C46744 !important;
    border-radius: 25px !important;
    background: transparent !important;
    color: #C46744 !important;
    font-size: 23px !important;
}


/* HomePage */


/* .home-page{
    margin-top: 7%;
} */

.main-banner-homepage img {
    border-radius: 50px;
    /* width: 40%; */
}

.main-banner-homepage p {
    font-family: 'Thasadith';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #000000;
}

.main-banner-homepage span {
    color: #BD5F0480;
    font-style: normal;
    font-weight: 700;
}

.signature-food-showing-area .card img {
    object-fit: cover;
    height: 30vh;
}

.text-orange {
    color: #fe8704!important;
}

input[type=number].phone-number-input::-webkit-inner-spin-button,
input[type=number].phone-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* ********************************************* */


/* payment site */

.payment-button {
    border: 2px solid #adb7ae;
    transition-duration: 0.35s;
    background-color: green;
}

.payment-button:hover {
    background-color: #BD5F0480;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.payment-button a {
    text-decoration: none !important;
}

.payment-button-container {
    bottom: 0;
}

.payment-card span.payment-icon {
    right: 0;
    top: 5px;
    font-size: 42px;
}

.payment-icon img {
    height: 20px;
    width: 30px;
    margin-right: 15px;
}

.payment-button-container button {
    border-radius: 25px;
}

.pay-text {
    color: #BD5F0480!important;
}

input.payment-input {
    background-color: aqua !important;
}

.payment {
    background: #f8f9fb !important;
}

.input-group-text.p-0.m-2 {
    background-color: transparent !important;
    border: none !important;
}

.payment-bar {
    width: 100%;
}

.payment {
    border-radius: 25px;
}


/* payment site */


/* ********************************************* */


/* order food site */

p.header-divider {
    background-image: url(images/design_web/header-divider.png);
    background-repeat: no-repeat;
    height: 25px;
    margin: 0 auto;
    overflow: hidden;
    width: 118px;
    text-indent: 9999px;
}

p.wave-divider {
    background-image: url(images/design_web/wave-divider.png);
    background-repeat: no-repeat;
    height: 8px;
    margin: 0 auto;
    overflow: hidden;
    width: 37px;
    text-indent: 9999px;
}

.main-bg-order-food {
    padding-bottom: 75px;
    background-image: url(images/design_web/main-bg-order-food.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-bg-order-food img {
    width: 350px;
    height: 350px;
    margin-bottom: -10px;
}

.selection-categories {
    margin-bottom: 30px;
}

.list-food-area {
    margin-bottom: 50px;
}

.selection-categories button {
    font-family: cursive !important;
}

.selection-categories button.selection-unactive:hover {
    color: red !important;
}

.selection-active {
    color: red !important;
    text-decoration: underline;
    text-underline-position: under;
}

.list-food-area img.card-img-top {
    height: 70vh;
}

.list-food-area .card .card-body {
    border: 10px solid #E8E8E8;
    background-color: white;
    width: 86%;
    left: 7%;
    bottom: -13%;
}

.food-info-wrapper {
    margin-bottom: 50px;
}

.list-food-area .card .card-text {
    font-size: 22px;
}

.list-food-area .card button.stepUp {
    border-right: 1px solid black;
}

.amount-food-spinner,
.time-picker-section {
    height: 56px;
}

.amount-food-spinner span.ui-spinner {
    flex: 1 1 auto !important;
}

button.shoping-cart-btn {
    right: 20px;
    bottom: 15px;
    border-radius: 100%;
    z-index: 1;
}

.food-list-added {
    min-height: 70vh;
}

.modal-dialog.modal-dialog-scrollable {
    max-width: 700px;
}

.modal-title {
    flex-basis: 100%;
}

table.food-list-added-table i.remove-food-item:hover {
    color: red;
}


/* order food site */


/* ********************************************* */


/* booking table site */

.table-section-wrapper {
    max-width: 624px;
    min-width: 624px;
}

.table-book-btn {
    width: 32px;
    height: 32px;
}


/* .date-picker {
    margin: 200px auto;
} */

.date-picker-wrapper {
    height: 56px;
}

.date-picker {
    height: auto;
    max-height: 56px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s 0s ease-in-out;
}

.date-picker .input {
    width: 100%;
    height: 100%;
    font-size: 0;
    cursor: pointer;
}

.date-picker .input .result,
.date-picker .input button {
    display: inline-block;
    vertical-align: top;
}

.date-picker .input .result {
    width: calc(100% - 50px);
    height: 100%;
    line-height: 56px;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.date-picker .input button {
    width: 50px;
    height: 100%;
    color: white;
    line-height: 56px;
    border: 0;
    font-size: 18px;
    padding: 0;
}

.date-picker .input button:hover {
    background-color: #68768A;
}

.date-picker .input button:focus {
    outline: 0;
}

.date-picker .calendar {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    overflow: hidden;
}

.date-picker input {
    border: none;
    outline: none;
    caret-color: transparent;
    width: 90px;
}

.date-picker .ui-datepicker-inline {
    position: relative;
    width: 100%;
}

.date-picker .ui-datepicker-header {
    height: 100%;
    line-height: 56px;
    background: #8392A7;
    color: #fff;
    margin-bottom: 10px;
}

.date-picker .ui-datepicker-prev,
.date-picker .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 18px;
}

.date-picker .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

.date-picker .ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -50px 0px 0px 7px;
}

.date-picker .ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

.date-picker .ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -50px 0px 0px 6px;
}

.date-picker .ui-datepicker-prev:after,
.date-picker .ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.date-picker .ui-datepicker-prev:hover,
.date-picker .ui-datepicker-next:hover,
.date-picker .ui-datepicker-prev:hover:after,
.date-picker .ui-datepicker-next:hover:after {
    border-color: #68768A;
}

.date-picker .ui-datepicker-title {
    text-align: center;
}

.date-picker .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.date-picker .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 100%;
    color: #8392A7;
    margin-bottom: 5px;
    font-weight: bold;
}

.date-picker .ui-state-default {
    display: block;
    text-decoration: none;
    line-height: 40px;
    font-weight: bold;
}

.date-picker .ui-state-default:hover {
    background: rgba(0, 0, 0, 0.10);
}

.main-booking-section-wrapper .date-picker .ui-state-disabled {
    user-select: none;
}


/* .date-picker .ui-state-highlight {
    color: red;
} */

button.ui-state-active {
    border-radius: 0px;
}

.date-picker a.ui-state-active {
    background-color: rgba(131, 146, 167, 0.25);
    /* border:1px solid #0f5132; */
    /* border-radius: 100%; */
    font-weight: 600;
    color: red;
}

.date-picker .ui-datepicker-unselectable .ui-state-default {
    color: #b7a4a4;
    border: 2px solid transparent;
    cursor: not-allowed;
}

.date-picker.open {
    max-height: 415px;
}

.time-picker-section input {
    caret-color: transparent;
    box-shadow: none !important;
}

.date-picker.open .input button {
    background: #68768A;
}

.people-amount,
.time-picker-section {
    height: 56px;
}

.people-amount span.ui-spinner {
    flex: 1 1 auto !important;
}

.people-amount button#stepUp {
    border-right: 1px solid black;
}

.booking-section-note img {
    height: 158px;
    width: 177px;
}


/* booking table site */


/* Contact site */

.contact {
    background: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold !important;
}

.contact iframe {
    height: 700px;
    /* width: 50%; */
    border-radius: 5%;
}

.contact .form-message {
    height: 200px;
    align-self: top !important;
    align-items: top !important;
}


/* End Contact Site */


/* ********************************************* */


/* About */

.text-about-us {
    font-size: 100px;
}

.about-description-text {
    line-height: 1.8em;
    font-weight: 300;
    font-size: 18px;
}

.about01 {
    background-image: url(images/about/about01.jpg);
}

.about02 {
    background-image: url(images/about/about02.jpg);
}

.about03-img {
    background-image: url(images/about/about03.jpg);
    background-size: cover;
}

.about03-bg-color {
    background-color: #a38d68;
}

.about-leader-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.about-leader-img img {
    flex-shrink: 0;
    width: 90%;
    height: 100%
}

a.about-location-btn {
    width: 30%;
    padding: 0.8rem !important;
}


/* About */


/* User Page */

.user {
    height: 450px;
    background: black;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    color: orange;
}


/* .user-dashboard{
    height: 450px;
    background: white;
} */

.border-none {
    border: none !important;
}

.history-table {
    height: 80% !important;
}


/* End User Page */


/* media responsive */


/* X-Large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
    .SignUp-BT,
    .Login-BT {
        width: 8rem;
        padding: 10px 0px;
        text-align: center;
    }
    .user {
        height: 400px;
        background: black;
    }
}

@media (max-width: 768px) {
    .main-bg-order-food {
        padding-bottom: 50px;
    }
    .main-bg-order-food img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .main-bg-order-food {
        padding-bottom: 35px;
    }
}


/*Payment size*/

.btn-booking-table {
    color: coral;
    font-size: 23px;
}


/*User site*/

button.edit-btn {
    padding: 15px 110px;
    background-color: cyan;
    display: block;
    margin: auto;
}

button.btn1 {
    margin: 10px;
    background-color: floralwhite;
    display: block;
    padding: auto;
    width: 105px;
    border-radius: 15px;
}